body {
    margin: 0;
    padding: 40px;

    background: #d8d8d8;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.brochure {
    width: min(1070px, 92vw);
    margin: auto;
    background: #d8d8d8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15),
                0 25px 60px rgba(0,0,0,0.25);
}

.logo-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 80px;
    background: white;
}

.logo {
    height: 75px;
    width: auto;
}

.phone-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5px;
}

.phone-text-top,
.phone-text-bottom {
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.phone-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 20px;

    background: #f58220;
    color: white;

    text-decoration: none;

    font-size: 1.2rem;
    font-weight: bold;

    border-radius: 50px;

    transition: 0.3s ease;
}

.phone-btn:hover {
    background: #e46f10;
    transform: translateY(-2px);
}

.phone-icon {
    font-size: 1.2rem;
    color: black;
}

.hero {
    position: relative;
    height: 550px;
    overflow: hidden;
}

.hero > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 60px;
    transform: translateY(-50%);
    color: white;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    line-height: 1.25;
    margin: 0;
    padding-left: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 15px;
}

.hero-content li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.quote-banner {
    background: #000;
    padding: 16px 70px;
    color: #fff;
    margin-top: 12px;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
}

.banner-content h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
}

.quote-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.quote-form input {
    width: 200px;
    height: 42px;
    border: none;
    border-radius: 30px;
    padding: 0 18px;
    font-size: 15px;
    text-align: center;
    outline: none;
}

.quote-form input::placeholder {
    color: #aaa;
    font-weight:600;
}

.quote-form button {
    height: 42px;
    padding: 0 24px;
    border: none;
    border-radius: 30px;
    background: #f58220;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s;
}

.quote-form button:hover {
    background: #e46f10;
    transform: translateY(-2px);
}

.doors-section {
    padding: 20px;
}

.door-grid {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    justify-content: center;    
    column-gap: 80px;
    row-gap: 40px;
}

.door-card {
    width: 150px;
    background: #fff;
    padding: 10px 10px 16px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.door-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.door-card h3 {
    margin: 12px 0 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.fitted-section {
    background: #f58220;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.fitted-content {
    max-width: 900px;
    margin: 0 auto;
}

.fitted-section h1 {
    margin: 0 0 20px;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.fitted-section p {
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

.fitted-section h2 {
    margin: 0 0 20px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
}

.call-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 20px;

    background: #fff;
    color: black;

    text-decoration: none;

    font-size: 1.2rem;
    font-weight: bold;

    border-radius: 50px;

    transition: 0.3s ease;
}

.call-btn:hover {
    background: #e8e8e8;
    transform: translateY(-2px);
}

.opening-section {
    background: #fff;
    padding: 20px 80px;
}

.opening-card {
    background: #efefef;
    display: grid;
    grid-template-columns: 1fr 550px;
    align-items: start;
    padding: 20px;
    border-radius: 8px;
}

.opening-text {
    max-width: 520px;
}

.opening-text h1 {
    margin-top: 0;
    color: #f58220;
    font-size: 2.2rem;
    line-height: 1.15;
}

.opening-text h2 {
    margin-top: 0;
    color: #f58220;
    font-size: 1.2rem;
    line-height: 1.15;
}

.opening-text h3 {
    margin-top: 0;
    color: black;
    font-size: 1.2rem;
    line-height: 1.15;
}

.opening-map {
    height: 100%;
}

.opening-map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.hours-table {
    border-collapse: collapse;
}

.hours-table td {
    padding: 2px 0;
}

.hours-table td:first-child {
    padding-right: 60px;
    font-weight: bold;
}


.owner {

}

.reviews {

}

.popular {

}

.whychoose {

}

.whatis {

}

.faqs {

}


/* CSS Styling to make page responsive on tablet size screens */


@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    .logo-banner {
        padding: 10px 30px;
    }

    .hero-content {
        left: 35px;
        max-width: 520px;
    }

    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .door-grid {
        grid-template-columns: repeat(2, 180px);
        column-gap: 50px;
    }

    .fitted-section {
        padding: 50px 40px;
    }

    .fitted-section h1 {
        font-size: 2.1rem;
    }

    .fitted-section h2 {
        font-size: 1.6rem;
    }

    .fitted-section p {
        max-width: 100%;
        font-size: 1.1rem;
    }

    .opening-section {
        padding: 50px 40px;
    }

    .opening-card {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 40px
    }

    .opening-map img {
        height: 320px;
    }
}


/* CC Styling to make page responsive on mobile size screens */

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .logo-banner {
        flex-direction :column;
        gap: 15px;
        padding: 18px 20px;

    }

    .logo {
        height: 60px;
    }

    .hero {
        height: 520px;
    }

    .hero-content {
        left: 20px;
        right: 20px;
        top: 50%;
        max-width: none;
    }

    .hero-content h1 {
        font-size: 1.7rem;
        padding-left: 0
    }

    .hero-content p {
        font-size: 1rem;
        padding-left: 0;
    }

    .hero-content ul {
        padding-left: 20px;
    }

    .quote-banner {
        padding: 20px;
    }

    .quote-form {
        flex-direction: column;
        width: 100%;
    }

    .quote-form input,
    .quote-form button {
        width: 100%;
        box-sizing: border-box;
    }

    .door-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .door-card {
        width: 180px;
    }

    .fitted-section {
        padding: 40px 20px;
    }

    .fitted-section h1 {
        font-size: 1.7rem;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .fitted-section h2 {
        font-size: 0.8rem;
        line-height: 0.8;
        margin-bottom: 20px;
    }

    .fitted-section p {
        max-width: 100%;
        font-size: 1rem;
        line-height: 1.7;
        text-align: left;
    }

    .opening-section {
        padding: 40px 20px;
    }

    .opening-card {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 30px 20px;
    }

    .opening-text h1 {
        font-size: 1.8rem;
    }

    .opening-text h2 {
        font-size: 1.4rem;
    }

    .opening-text h3 {
        font-size: 1.4rem;
    }

    .hours-table td:first-child {
        width: 120px;
    }

    .hours-table td {
        font-size: 0.95rem;
        padding: 2px 0;
    }

    .opening-map img {
        height: 260px;
    }
}